@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700&display=swap");

:root {
  --red: #c83819;
  --dark: #1a1a1a;
  --dark-texts: #000000;
  --form-border: #d9d9d9;
}

*,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

html {
  height: 100vh;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 10px;
  overflow-x: hidden;
}

section {
  width: 100vw;
  height: 100vh;
  overflow-y: hidden;
}

.content {
  display: flex;
  height: 90vh;
  width: 100%;
  overflow-y: hidden;
}

.content-left {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px 40px;
}

#btns-hide {
  display: none;
}

.logos {
  width: 100px;
}
.logos img {
  width: 100%;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

#already-have {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 20px;
}
.sign-in {
  color: var(--red);
  text-decoration: underline;
}

form {
  width: 100%;
}

.details:not(:last-child) {
  margin-bottom: 10px;
}
.details label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  font-weight: 400;
}
.details label .asterics {
  color: red;
}
.details input {
  padding: 7px 10px;
  width: 100%;
  border: 1px solid var(--form-border);
  border-radius: 5px;
  outline: none;
}
.details input:hover {
  box-shadow: 0.5px 0.5px 5px rgba(0, 0, 0, 0.2);
}
.details input::placeholder {
  opacity: 0.8;
  font-size: 0.8rem;
}
.input {
  position: relative;
}
.input .fa-eye {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  font-size: 0.8rem;
  opacity: 0.7;
  cursor: pointer;
}

button.reg {
  width: 100%;
  padding: 7px 10px;
  border: none;
  border-radius: 5px;
  background: var(--red);
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
button.reg:hover {
  background: red;
  transition: all 500ms;
}

.disclaimer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.75rem;
}
.disclaimer .TOC {
  color: var(--red);
}
.disclaimer .TOC:hover {
  text-decoration: underline;
}

.content-right {
  position: relative;
  flex-basis: 70%;
  background-image: url("./img/pexels-kampus-production-5940838\ 1.png");
  background-size: cover;
  background-position: center 32%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: white;
}
.content-right:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.btns {
  position: absolute;
  top: 15px;
  right: 30px;
  display: flex;
  z-index: 200;
}
.btn:not(:last-child) {
  margin-right: 20px;
}
.btn a {
  color: white;
  font-size: 1rem;
  font-weight: 800;
}
.btn-1 a {
  padding: 5px 10px;
  border: 1.5px solid white;
  border-radius: 50px;
}
.btn-1 a:hover {
  color: white;
  background: red;
  border: none;
  transition: all 500ms;
}
.btn-2 a:hover {
  text-decoration: underline;
  transition: all 500ms;
}

.showcase-text {
  position: relative;
  padding-right: 20px;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1.5;
  text-transform: capitalize;
  text-align: right;
  z-index: 100;
}

footer {
  margin-top: auto;
  background: var(--dark);
  padding: 30px 0px 40px;
  color: white;
}

.footer-contents {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}
.social {
  display: flex;
  align-items: center;
}
.s-1,
.s-2 {
  margin-right: 10px;
}
.s-1,
.s-2,
.s-3 {
  border: 1px solid white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.copy {
  font-size: 0.9rem;
  text-decoration: underline;
}

@media (max-width: 850px) {
  .content-left {
    flex-basis: 100%;
  }

  #btns-hide {
    display: flex;
  }

  #btns-hide a {
    color: var(--dark);
  }

  #btns-hide .btn-1 a {
    border: 1.5px solid var(--dark);
  }
  #btns-hide .btn-1 a:hover {
    border: none;
    color: white;
  }

  .content-right {
    display: none;
  }
}
